{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"mocha": true,
		"node": true
	},
	"ecmaFeatures": {
		"modules": true,
		"experimentalObjectRestSpread": true
	},
  "plugins": [ "wpcalypso" ],
  "extends": [ "wpcalypso" ]
}
